:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  
  font: 18px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita scroll lateral */
}

#root {
  width: 100%;       /* Ocupa a tela toda */
  max-width: 500px;  /* Mantém o limite para PC */
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1, h2 { font-family: var(--sans); font-weight: 500; color: var(--text-h); }
p { margin: 0; }